 

  html {
    /* Variables */
    --primary: #fac562;
    --secondary: #fba157;
    --gradient: linear-gradient(to top left, var(--primary), var(--secondary));
    background: var(--gradient);
  }
  /* 
  section - joke / menu container
  header - title
  
  */
  section,
  header {
    position: relative;
    z-index: 5;
  }
  
  /* title */
  header {
    /* max-width: 1333px; */
    height: 70px;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    /* margin: 0 auto; */
    /* font-family: "Comic Neue Bold", "Comic Sans MS", Avenir, Helvetica, sans-serif; */
    perspective: -1500px;
  }

  #title__tagline {
    position: absolute;
    font-size: 20px;
    color: #555;
    bottom: -16px;
    margin-left: 2px;
  }

  /* container - outer */

  .joke-container {
    min-height: calc(100vh - 70px);
    display: flex;
    /* justify-content: center; */
  }


  .card-container {
    width: 100%;
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1500px;
    transition: all 200ms;
  }
  
  .card-wrapper {
    position: relative;
  }
  
  .card {
    height: 500px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.1;
    transition: transform 200ms ease;
  }
  
  #joke-id {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 25px;
    color: #333;
  }
  
  #continue {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 20px;
    color: #444;
    font-family: "Comic Neue Bold", "Comic Sans MS", Avenir, Helvetica, sans-serif;
    z-index: 100;
  }
  
  .card__question {
    background-color: var(--primary);
    position: absolute;
    z-index: 10;
  }

  /* dynamic (js) */

  .card__question--show {
    transform: translate(-55%, 0px);
  }
  
  .card__punchline {
    background-color: white;


    position: absolute;
    /* this puts it underneath */
    z-index: 6;
    /* this allows it to "peek" out */
    transform: translate(15px, 15px);
  }
   /* dynamic (js) */
  .card__punchline--show {
    transform: translate(55%, 0px);
  }
  


  /* ------------  MENU ------------------ */


.menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--gradient);
    z-index: 100;
    animation: open-menu 500ms ease;
  }
  
  .hidden {
    display: none;
  }

  /* menu outer class */
  
  .menu__button {
    height: 50px;
    width: 50px;
    margin-left: auto;
    background: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 200ms ease;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 200;
  }
  
  /* menu outer class */

  .menu__button:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
  }

  /* menu inner spans */
  /* wiggle keyframe */
  
  .menu__button:hover #menu__line--top {
    animation: wiggle 200ms ease;
  }
  .menu__button:hover #menu__line--middle {
    animation: wiggle 200ms ease 100ms;
  }
  .menu__button:hover #menu__line--bottom {
    animation: wiggle 200ms ease 200ms;
  }

  /* lines on menubutton  */
  
  .menu__line {
    height: 2px;
    width: 25px;
    border-radius: 10px;
    background: #666;
    margin: 3px 0;
    transition: transform 200ms ease;
    backface-visibility: hidden;
  }

  /* dynamic js  */

  .line__top--open {
    transform: translateY(9px) rotate(45deg);
  }

  /* dynamic js  */
  
  .line__middle--open {
    transform: scale(0);
  }

  /* dynamic js  */
  
  .line__bottom--open {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  @keyframes wiggle {
    0%,
    100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.5);
    }
  }
  
  @keyframes open-menu {
    from {
      transform: translateX(-100vw);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  